# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project
# across various editors and IDEs (https://editorconfig.org)

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,mjs,cjs,json,yaml,yml,md,html,css}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.{wasm,png,jpg,jpeg,gif,webp,ico,pdf}]
insert_final_newline = false
trim_trailing_whitespace = false
